.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.links div {
  width: 0.94px;
  height: 46.158px;
  flex-shrink: 0;

  background: rgba(178, 178, 178, 0.50);
}