.profile {
  overflow: hidden; /* clip any part of the img that spills out */
  display: flex;
  flex-direction: column; /* stack children vertically */
  justify-content: end; /* center content vertically */
  align-items: center; /* center content horizontally */
  padding: 2rem 2rem 0rem 0em; /* padding around the content */
}

.profile img {
  display: flex;      
  width: 160%;         /* fill the block’s width */
  height: 120%;        /* fill the block’s height */
  object-fit: cover;   /* scale/crop to cover the box */
  object-position: 60% 20%; /* center the image at 40% from left and 60% from top */

  user-select: none; /* prevent text selection */
}