.page {
  background: var(--gradient-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
  min-height: 100vh;
}

.main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  width: 100%;
  padding: 0;
  max-width: var(--max-content-width);
  max-height: var(--max-content-height);
  gap: var(--spacing-sm);
  overflow-y: auto;
}
