.social__separator {
  width: 0.94px;
  height: 46.158px;
  flex-shrink: 0;
  background: var(--color-separator);
}

.social__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease;
}

.social__link:hover,
.social__link:focus-visible {
  filter: brightness(0.85);
}
