/* all blocks should show pointer cursor */
.about-me,
.profile,
.skills,
.contact,
.projects,
.links,
.proj-item {
  cursor: pointer;
}

.links img {
  cursor: pointer;
}

.projects a {
  cursor: pointer;
}